.app {
  padding: 20px;
}

.add_wrapper {
  margin-bottom: 20px;
}

.btn {
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-cancel {
  border: none;
  background-color: transparent;
  color: #000000;
}
